@media (max-width: 1023px) {
  .place-city {
    display: block;
    width: 100%;
  }
}

@media (max-width: 739px) {
  .border,
  .name-city,
  .logo-city {
    overflow: hidden;
    width: 0;
    height: 0;
  }
  .nav-main a {
    font-size: 19px;
  }
  .para-content h2 {
    font-size: 56px;
  }
  .introduce {
    width: 80%;
  }
  .list-ht-tour {
    margin: 0;
    width: 100%;
  }
  .ti-para-tour {
    width: 99%;
  }
  .place-tour-img {
    width: 100%;
  }
  .list-tourism {
    margin: 30px 12px 0 12px;
  }
  #main-food {
    margin-left: 20px;
  }
}
