@media (max-width: 1023px) {
  .nav-main {
    text-align: center;
  }
  .nav-main li {
    width: 20%;
  }
  #right-nav {
    width: 70%;
  }
  .list-item {
    text-align: center;
  }
  .name-list-item {
    margin-left: 30%;
  }
}
@media (max-width: 739px) {
  .nav-main {
    text-align: center;
  }
  .nav-main li {
    width: 80%;
    margin: 0;
    left: 0;
  }
  .name-list-item {
    margin-left: 44%;
    width: 50%;
  }
  .page {
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
  }

  .foot-main {
    display: block;
  }
}
