* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-family: "Arial";
}
#main {
  z-index: 1;
  height: 64px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav {
  background-color: white;
  height: 64px;
  display: block;
  position: relative;
  box-shadow: 0px 1px 10px rgb(0, 0, 0.9);
}
.logo-city {
  display: inline-block;
}
.logo-city .name-city {
  position: absolute;
  display: inline-block;
  font-size: 42px;
  font-family: "Comic Sans MS", sans-serif;
  font-style: italic;
  top: -2px;
  left: 150px;
}
.border {
  border-left: 2px solid rgb(20, 221, 74);
  height: 40px;
  position: absolute;
  top: 10px;
  left: 132px;
}
.nav img {
  width: 120px;
  height: 66px;
}
.nav-main li:hover a {
  color: rgb(86, 86, 16);
  opacity: 0.6;
}
.nav-main li {
  display: inline-block;
  margin: 0 14px;
  font-size: 26px;
}
.nav-main {
  float: right;
  margin-top: 16px;
  margin-right: 10px;
}
#main-slo {
  margin-top: 68px;
  height: 500px;
  background-image: url(../img/main-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
  color: aliceblue;
}

#slogan h1,
#slogan p {
  position: absolute;
}
#slogan h1 {
  font-size: 80px;
  top: 200px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
#slogan p {
  display: inline-block;
  top: 360px;
  transform: translate(-50%, -50%);
  font-size: 44px;
  width: 90%;
}
#content {
  margin: auto;
  margin-top: 50px;
}
.para-content h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 60px;
}
.para-content {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: block;
}
.para-content p {
  font-weight: 500;
  line-height: 30px;
  margin: auto;
  width: 60%;
  font-size: 22px;
  text-align: justify;
}
.place-city {
  width: calc(100% / 3);
  float: left;
  margin-top: 20px;
  text-align: center;
  display: block;
}
.place {
  width: 100%;
  margin: auto;
  height: 300px;
  margin-top: 50px;
}
.place-city img {
  width: 200px;
  height: 200px;
  border: 4px solid #000;
  margin-bottom: 10px;
}
.place-name {
  font-size: 30px;
  margin-bottom: 20px;
}
#map .map {
  height: 400px;
  width: 100%;
}
footer {
  background-color: #f4ecd7;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  border-top: 4px solid #000;
  margin-top: -4px;
  margin-top: 20px;
}

.introduce {
  margin: auto;
  width: 70%;
  margin-top: 68px;
  line-height: 38px;
}
.ti-para {
  margin-top: 30px;
  width: 100%;
  text-align: justify;
}
.ti-para h3 {
  font-size: 30px;
}
.ti-para p {
  font-size: 20px;
}
.ti-para p,
.ti-para h3 {
  margin: 20px 0;
}
#intro-content {
  margin-top: 40px;
  border-top: 5px solid #000;
}
.main-intro-title {
  font-size: 24px;
}
.place-img {
  width: 100%;
  height: 400px;
}
#more-info {
  font-size: 28px;
}
#more-info a {
  color: rgb(15, 118, 84);
}
#more-info a:hover {
  opacity: 0.6;
  color: rgb(1, 15, 214);
}
.main-tourism-title {
  background-color: blue;
  background-image: url(../img/backgr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 400px;
  margin-top: 70px;
  width: 100%;
  position: relative;
}
.main-tourism-title h1 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  position: absolute;
  color: rgb(50, 48, 48);
  text-shadow: 1px 1px 3px white;
  width: 90%;
}
.blur {
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}
#tourism-content {
  position: relative;
}
.list-tourism {
  margin-left: 70px;
  margin-top: 30px;
  line-height: 30px;
}
.ti-para-tour {
  width: 54%;
  line-height: 30px;
}
.tourism-title {
  font-size: 28px;
  margin-bottom: 20px;
}
.tourism-title h2 {
  width: 100%;
}
.name_tour {
  margin-top: 20px;
  font-size: 28px;
}
.place-tour-img {
  width: 52vw;
  margin-top: 20px;
}
.para-tour > p {
  margin: 22px 0;
  text-align: justify;
  font-size: 20px;
}

.list-ht-tour {
  border: 2px solid #000;
  width: 70%;
  text-align: center;
  margin-left: 110%;
  margin-top: -410px;
}
.list-name-ht {
  display: inline-block;
  border: 1px solid rgb(6, 6, 6);
  margin: 12px 16px 18px 16px;
  width: 38%;
  height: 42%;
}
.ht-tour-img {
  width: 100px;
  height: 100px;
  margin-top: 8px;
  border: 1.6px solid rgb(6, 6, 6);
}
.main-food-title,
.tourism-title,
#main-intro-title,
#slogan {
  font-family: "Franklin Gothic Medium";
}

#main-food {
  margin-top: 90px;
  margin-left: 160px;
}

.main-food-title h1 {
  font-size: 62px;
  margin-left: -100px;
}
.name-food {
  font-size: 24px;
}
.ti-para-food {
  width: 80%;
  line-height: 40px;
}
.ti-para-food h3 {
  margin-top: 40px;
  margin-left: -20px;
}
.ti-para-food p {
  font-size: 22px;
  text-align: justify;
  margin: 20px 0 20px 10px;
}
.place-food-img {
  width: calc(96% / 2);
  height: 200px;
  margin: 12px 2px;
}
.img-pl {
  width: 100%;
  margin-left: 4px;
}
.foot-food {
  font-size: 26px;
  width: 90%;
}
