*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}

header {
    position: relative;
    height: 100px;
    background-color: rgb(42, 107, 87);
    width: 100%;

}
#intro{
    line-height: 100px;
    position: absolute;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin-left: 8px;
    color: rgb(21, 240, 203);
}
#main-login ul {
    list-style: none;
}
#main-login li:hover{
    color: chocolate;
    opacity: 0.8;
}
#main-login li{
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}
#main-login a{
    color:rgb(247, 120, 120);
}

#main-login{
    position: absolute;
    top: 40px;
    right: 0;
}
.para {
    padding-top: 10px;
}
.para img{

    width: 40px;
    height: 40px;   
}